.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clubname{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
